<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	
    <!--Daily rolling file appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/camelback.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>./logs/camelback.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{dd.MM.yy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<logger name="org.signaut">
		<level value="debug" />
	</logger>
	
	<root>
		<level value="info" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
